<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bulma 쓰는 법 연습하기</title>

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/master.css" />
    


</head>

<body>
    <section class="hero is-white">
        <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
            <h1 class="title is-sparta">항해블로그</h1>
            <h3 class="subtitle is-sparta">나만의 항해일지</h3>
        </div>
    </section>
    <section class="section">
        <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Title</p>
                  <p class="subtitle is-5">by 작성자</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur addddddddddddddddddddddddddddddddddddddddddddddipiscing elit.
                Phasellus nec iaculis mauris.
                <br>
                <br>
                <time datetime="2016-1-1">date</time>
              </div>
            </div>
        </div>

    </section>
    <section class="section">
        <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Title</p>
                  <p class="subtitle is-5">by 작성자</p>
                </div>
              </div>
              <div class="content">
                Lorem ipsum dolor sit amet, consectetur addddddddddddddddddddddddddddddddddddddddddddddipiscing elit.
                Phasellus nec iaculis mauris.
                <br>
                <br>
                <time datetime="2016-1-1">date</time>
              </div>
            </div>
        </div>
                
    </section>
    

</body>

</html>